.navBar {
    width: 30%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 60px;
    z-index: 11;
    position: relative;
}

.alink {
    width: 70%;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.alink:hover:link:visited:active {
    color: black;
}